#quote-widget-wrapper{
    padding: 1em;
    grid-column: 1;
    justify-content: center;
    font-size: 1em;
    font-family: 'Merienda', sans-serif;
    width: fit-content;
    max-width: 80vw;
    overflow: auto;
    box-sizing: content-box;
}

#quote-text{
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

#author-text{
    align-self: flex-end;
    font-size: 0.8em;
    font-weight: 600;
}